<div id="banner">
  <div id="inner-banner">
    <h1>Cuisine</h1>
    <p>Let's find lunch, now!</p>
  </div>
  <span id="add-restaurant"><%= link_to image_tag("button_add_restaurant.png"), new_restaurant_path %></span>
</div>

<div id="details">
  <div id="details-header">
    <p id="notice"><%= notice %></p>
  </div>
  <div id="filters">

    <%= form_tag restaurant_index_path do %>
        <table id="filters-table">
          <tr>
            <td>
              Cuisine<br/>
              <% cuisine_names = CuisineType.all.map { |cuisine_type| cuisine_type.name } %>
              <%= select_tag 'select_cuisine',
                           options_for_select(cuisine_names.unshift(RestaurantsController::FILTER_ALL), @selected_cuisine_name),
                           onchange: 'this.form.submit()', class: "filter_select"%>
            </td>
            <td>
              Rating<br/>
              <%= select_tag 'select_rating',
                             options_for_select((0..3).to_a.unshift(RestaurantsController::FILTER_ALL), params[:select_rating] || RestaurantsController::FILTER_ALL),
                             onchange: 'this.form.submit()', class: "filter_select"%>
            </td>
            <td>
              Max. time to delivery<br/>
              <%= select_tag 'select_max_delivery_time',
                             options_for_select((15..120).step(15).to_a.unshift(RestaurantsController::FILTER_UNLIMITED), params[:select_max_delivery_time] || RestaurantsController::FILTER_UNLIMITED),
                             onchange: 'this.form.submit()', class: "filter_select"%>
            </td>
          </tr>
        </table>
    <% end %>
  </div>

  <div id="restaurants-container">
    <div id="restaurants-list">
      <table>
        <tbody>
          <% if @restaurants.empty? %>
            <tr><td id="no-restaurants-notice">No restaurants match your search criteria</td></tr>
          <% end %>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td class="cuisine-icon-cell"><%= restaurant.cuisine_type&.image_icon %></td>
              <td>
                <span id="restaurant-title"><%= restaurant.name %></span>
                <% if restaurant.has_ten_bis %>
                    <%= image_tag 'tenbis.png', alt: 'Accepts 10bis' %>
                <% end %>
                <br/>
                Rating: <% restaurant.rating.times do %>
                  ⭐
                <% end %>
              </td>
              <!--
              <td><%= restaurant.address %></td>
              <td></td>
              <td><%= restaurant.delivery_time %></td>
              <td><%= restaurant.has_ten_bis %></td>
              -->
              <!--
              <td><%= link_to 'Show', restaurant %></td>
              <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
              <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="rest-au-map">

    </div>
  </div>
  <br>
</div>