<div id="banner">
  <div id="inner-banner">
    <h1>Cuisine</h1>
    <p>Let's find lunch, now!</p>
  </div>
</div>
<div id="details">
  <div id="details-header">
    <p id="notice"><%= notice %></p>

    <h1>Restaurants</h1>
  </div>
  <div id="filters"></div>
  <div id="restaurants-container">
    <div id="restaurants-list">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Rating</th>
            <th>Delivery time</th>
            <th>Has ten bis</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.address %></td>
              <td><%= restaurant.rating %></td>
              <td><%= restaurant.delivery_time %></td>
              <td><%= restaurant.has_ten_bis %></td>
              <td><%= link_to 'Show', restaurant %></td>
              <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
              <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="rest-au-map">

    </div>
  </div>
  <br>

  <%= link_to 'New Restaurant', new_restaurant_path %>

</div>