<div id="banner">
  <div id="inner-banner">
    <h1>Cuisine</h1>
    <p>Let's find lunch, now!</p>
  </div>
</div>
<div id="details">
  <div id="details-header">
    <p id="notice"><%= notice %></p>
  </div>
  <div id="filters"></div>
  <div id="restaurants-container">
    <div id="restaurants-list">
      <table>
        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.cuisine_type&.image_icon %></td>
              <td>
                <span id="restaurant-title"><%= restaurant.name %></span>
                <% if restaurant.has_ten_bis %>
                    <%= image_tag 'tenbis.png', alt: 'Accepts 10bis' %>
                <% end %>
                <br/>
                Rating: <% restaurant.rating.times do %>
                  ⭐
                <% end %>
              </td>
              <!--
              <td><%= restaurant.address %></td>
              <td></td>
              <td><%= restaurant.delivery_time %></td>
              <td><%= restaurant.has_ten_bis %></td>
              -->
              <!--
              <td><%= link_to 'Show', restaurant %></td>
              <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
              <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="rest-au-map">

    </div>
  </div>
  <br>

  <%= link_to 'New Restaurant', new_restaurant_path %>

</div>